:root {
    --nordx: #20242c;
    --nord0: #2e3440;  /*dark1*/
    --nord1: #3b4252;  /*dark2*/
    --nord2: #434c5e;  /*dark3*/
    --nord3: #4c566a;  /*dark4*/
    --nord4: #d8dee9;  /*light1*/
    --nord5: #e5e9f0;  /*light2*/
    --nord6: #eceff4;  /*light3*/
    --nord7: #8fbcbb;  /*frost1*/
    --nord8: #88c0d0;  /*frost2*/
    --nord9: #81a1c1;  /*frost3*/
    --nord11: #bf616a; /*red*/
    --nord12: #d08770; /*orange*/
    --nord13: #ebcb8b; /*yellow*/
    --nord14: #a3be8c; /*green*/
    --nord15: #b48ead; /*purple*/
    --nord3-4: #929AAA;

}
.recovery,.acellus-logo,.helpvideo,.review,.grammar_header,.exam{

    background: var(--nord1);
    border-bottom:var(--nord0)
}
#text, .writing-header{
    background-color: var(--nord2)
}
.writing-footer{
    background-color: var(--nord2);
    border-top: 1px solid var(--nord0)
}
.body,.page,.page-wrapper{
    background: var(--nord2);
    scrollbar-width: thin;
    scrollbar-color: var(--nord2)var(--nord1);
}

div#student_footer div{
    background: var(--nord0);
    font: italic bold 14px/50px Roboto, Roboto, Arial, sans-serif;
    
}


.counter > span{
    background:var(--nord3)
}

.counter > span.counter_decor.counter_bottom{
box-shadow:0 1px 0px -1px var(--nord3), 0 2px 0px -2px var(--nord3), 0 3px 0px -3px var(--nord3), 0 5px 0px -4px var(--nord3), 0 7px 0px -5px var(--nord3), 0 9px 0px -6px var(--nord3), 0 10px 0px -7px var(--nord3), 0 10px 23px -9px rgba(0, 0, 0, 0.8)
}
.scale-with-grid{
    filter: brightness(1);
}
.page{
box-shadow: 0 0 5px var(--nord0);
border: solid 1px var(--nord0)
}

.background-book{
background: var(--nord2)}
.scrollabletext p{
text-align:justify;

}
/*text*/
h1, h2, h3, h4, h5, h6,blockquote, blockquote p{
 color:var(--nord5) !important
}/*main style*/
#text{
color:var(--nord5)
}
div#text div{
    color: var(--nord5)
}
.counter > span span{
color:var(--nord5)
}
/*||Video Player*/
.plyr--video .plyr__controls{
background: linear-gradient(180deg, #434c5eb5 0%, var(--nord2) 100%);
color:var(--nord6)
}
.plyr--video .plyr__control.plyr__tab-focus, .plyr--video .plyr__control:hover{
background:none;
color:var(--nord8)
}
.plyr__control--overlaid{
background:var(--nord2);
background: none;
box-shadow: none;
color: var(--nord5)
}
.plyr--video .plyr__control.plyr__tab-focus, .plyr--video .plyr__control:hover{
background: none;
box-shadow: none;
color:var(--nord8)
}
/*Answer block*/
.imgAnswer_text{   
border: 3px solid var(--nord1);
background: var(--nord3);
color:var(--nord6);
position: absolute;
margin:0;
margin-top: -18px;
margin-left: -25px
}
.text-answer,.image-answer{
background:var(--nord3);
border: 3px solid var(--nord1);
border-radius:0;
}
.text-answer:hover,.image-answer:hover{
background:var(--nord3);
transition: .25s ease;
transform: scale(1.1);

}
.text-answer *:hover,.image-answer *:hover{
color:var(--nord6)!important
}
#answerText{
background:var(--nord3);
border: 1px solid var(--nord0);
color:var(--nord6);
transform: scale(1);
}
.keyboard_button{
color:var(--nord6);
}
/*images*/
#_A1{
background:var(--nord3);
border: 3px solid var(--nord1);
padding:20px
}
.image-question{
border:none 
}
/*||Note Container*/
.menu{
    background:var(--nord2)
}
#notecontainer{
    scrollbar-color: var(--nord2)var(--nord1);
    scrollbar-width: thin;
    transition: scrollbar-color 0.3s ease-out;
}
/*help*/
#student_help .menu h3, #student_help .menu h2{
background:var(--nord1)
}
#student_help .menu{
border-left-color:var(--nord1);
}

/*text*/
.Notebook_Key{
background-color:var(--nord3);
border:solid 2px var(--nord1)
}
.Notebook_Key strong{
color: var(--nord13) !important
}
div#notecontainer *{
 color:var(--nord5)
}
/*images*/
.Notebook_Key > img:nth-child(1){
visibility:hidden
}
.Notebook_Key:after{
visibility: visible;
position: relative;
top: -30px;
left: 5px;
content: "🔑";
}
/*buttons*/
.menu a:not(.back-button), .teacherInfo{
background:var(--nord3);
color:var(--nord5);
border-bottom: 1px solid var(--nord0)
}
.menu a:not(.back-button):hover, .teacherInfo:hover{
background:var(--nord3);
color:var(--nord8);
}
.button, input[type="submit"], input[type="reset"], input[type="button"]{  
    background-color:rgba(0, 0, 0, 0);
    background-image:var(--nord1);
    border: none;
    text-shadow: var(--nord0);

}
.button:hover{
    background-color:rgba(0, 0, 0, 0);
    background-image:var(--nord1);
    border: none;
}
.button, input, optgroup, select, textarea {
    color:var(--nord6);

}
.button:hover, input:hover, optgroup:hover, select:hover, textarea:hover {
    color:var(--nord8);
    transition: .1s ease;
    transform: scale(1.15);
}
.notebuttons{
    background-color:var(--nord1)
}
#printButton{
    background:var(--nord1);
    border: none;
}
#printButton:hover #printButtonIcon, #printButton:hover
{   transition: .1s ease;
    transform: scale(1.1);
    color:var(--nord8);
}
#backIcon:hover{
    color:var(--nord8);
    transform: translateX(-2px);
}
/*||English "Book"/
/*text*/
div.scrolling-book *{
color:var(--nord4)!important
}
/*enable selecting (may not work)*/
html{
-webkit-user-select: text !important
-khtml-user-select: text !important
-moz-user-select: text !important
-o-user-select: text !important
}
/*unknown code*/
.image-question{
    z-index: 0;
    background: url('..img/test.jpg') no-repeat;
    position: relative;
}
/*images*/
img.scale-with-grid{
    position:static;
}
/*||Print Scr*/
.lightbox_content{
background:var(--nord1)
}
/*buttons*/
.lightbox_close
{
color:var(--nord6)
}
.lightbox_close:hover
{   transition: .1s ease;
    transform: scale(1.1);
    color:var(--nord8)
}
/*||Word Processor*/
/*@Footer*/
/*text*/
#grammar-message{
color:var(--nord11);
font: normal 17px Roboto
}
/*buttons*/
.grammar-box button, #resetText{
background:var(--nord8)
}
.grammar-box button:hover, #resetText{
background:var(--nord7);
color:var(--nord6);
transform: none 
}
/*@Instructions*/
/*text*/
#instructions-content *{
color:var(--nord4)
}
/*||Expiremental*/
.overlay{
background:rgba(67, 76, 94, .75);
}
