:root {
    --nordx: #20242c;
    --nord0: #2e3440;  /*dark1*/
    --nord1: #3b4252;  /*dark2*/
    --nord2: #434c5e;  /*dark3*/
    --nord3: #4c566a;  /*dark4*/
    --nord4: #d8dee9;  /*light1*/
    --nord5: #e5e9f0;  /*light2*/
    --nord6: #eceff4;  /*light3*/
    --nord7: #8fbcbb;  /*frost1*/
    --nord8: #88c0d0;  /*frost2*/
    --nord9: #81a1c1;  /*frost3*/
    --nord10: #5e81ac;  /*frost3*/
    --nord11: #bf616a; /*red*/
    --nord12: #d08770; /*orange*/
    --nord13: #ebcb8b; /*yellow*/
    --nord14: #a3be8c; /*green*/
    --nord15: #b48ead; /*purple*/
    --nord3-4: #929AAA;

}
.recovery,.acellus-logo,.helpvideo,.review,.grammar_header,.exam{

    background: var(--nord0);
    border-bottom:var(--nord1)
}

.body,.page,.page-wrapper{
    background: var(--nord0);
    scrollbar-width: thin;
    scrollbar-color: var(--nord2)var(--nord1);
}

div#student_footer div{
    background: var(--nord0);
    font: italic bold 14px/50px Roboto, Roboto, Arial, sans-serif;
    
}


.counter > span{
    background:var(--nord3)
}

.counter > span.counter_decor.counter_bottom{
box-shadow:0 1px 0px -1px var(--nord3), 0 2px 0px -2px var(--nord3), 0 3px 0px -3px var(--nord3), 0 5px 0px -4px var(--nord3), 0 7px 0px -5px var(--nord3), 0 9px 0px -6px var(--nord3), 0 10px 0px -7px var(--nord3), 0 10px 23px -9px rgba(0, 0, 0, 0.8)
}
.scale-with-grid{
    filter: brightness(1);
}
.page{
box-shadow: 0 0 5px var(--nord0);
border: solid 1px var(--nord0)
}

.background-book{
background: var(--nord1)}
.scrolling-book{
    scrollbar-width: thin;
    scrollbar-color: var(--nord1)var(--nord2);
    height: auto
}
.scrollabletext p{
text-align:justify;
text-justify: inter-character;
}
.scrolling-book-question, .scrolling-book{
width: 100em;
max-width: fit-content;
}
/*text*/
h1, h2, h3, h4, h5, h6,blockquote, blockquote p{
 color:var(--nord5) !important
}/*main style*/
#text{
color:var(--nord5)
}
div#text div{
    color: var(--nord5)
}
.counter > span span{
color:var(--nord5)
}
/*||Video Player*/
.plyr--video .plyr__controls{
background: var(--nord1);
color:var(--nord6)
}
.plyr__video-wrapper{
background-color:var(--nordx)
}
.plyr__control--overlaid{
background:var(--nord2);
background: none;
box-shadow: none;
color: var(--nord5)
}
.plyr--video .plyr__control.plyr__tab-focus, .plyr--video .plyr__control:after{
border-left-color:var(--nord4)
}
.plyr--video .plyr__control.plyr__tab-focus, .plyr--video .plyr__control:hover, .plyr--video .plyr__control[aria-expanded="true"]{
color:var(--nord8);
background: none;
box-shadow: none;
}
.plyr__menu__container{
background:var(--nord1);
border-radius:0;
padding: 0;
bottom:110%
}
.plyr__menu__container .plyr__control, .plyr__control .plyr__control--forward{
color:var(--nord6)!important
}
.plyr__menu__container::after {
display:none
}
.plyr__captions .plyr__caption{
background:none;
    color: var(--nord13);
    font-family: Trebuchet MS;
    text-shadow: 2px 1px var(--nord1);
}
/*Answer block*/
.imgAnswer_text{   
border: 3px solid var(--nord2);
background: var(--nord2);
color:var(--nord6);
position: absolute;
margin:0;
margin-top: -18px;
margin-left: -25px
}
.text-answer,.image-answer{
background:var(--nord2);
border: 1px solid var(--nord2);
border-radius:4px;

}
.text-answer:hover,.image-answer:hover{
border:1px solid var(--nord8);
transition: .25s ease;
}
.text-answer *:hover,.image-answer *:hover{
color:var(--nord6)!important
}
#answerText{
background:var(--nord2);
border: 1px solid var(--nord0);
color:var(--nord6);
transform: scale(1);
}
.keyboard_button{
color:var(--nord6);
background: none;
margin:auto
}

/*images*/
#_A1{
padding:20px;
background: none;
border: none;
}
.image-question{
border:none 
}
/*||Note Container*/
.menu{
    background:var(--nord0)
}
#notecontainer{
    scrollbar-color: var(--nord0)var(--nord1);
    scrollbar-width: thin;
    transition: scrollbar-color 0.3s ease-out;
}
/*help*/
#student_help .menu h3, #student_help .menu h2{
background:var(--nord1)
}
#student_help .menu{
border-left: none;
border-left-color:var(--nord1);
}

/*text*/
.Notebook_Key{
background-color:var(--nord3);
border:solid 2px var(--nord1);
}
.Notebook_Key strong{
color: var(--nord13) !important
}
div#notecontainer *{
 color:var(--nord5);
 background-color: transparent !important
}
/*images*/
.Notebook_Key > img:nth-child(1){
visibility:hidden
}
.Notebook_Key:after{
visibility: visible;
position: relative;
top: -30px;
left: 5px;
content: "🔑";
}
/*buttons*/
.menu a:not(.back-button), .teacherInfo{
background:var(--nord0);
color:var(--nord5);
border-bottom: none;
margin:1px
}
.menu a:not(.back-button):hover, .teacherInfo:hover{
background:var(--nord1);
color:var(--nord5);
}
.button, input[type="submit"], input[type="reset"], input[type="button"]{  
    background-color:rgba(0, 0, 0, 0);
    background-image:var(--nord1);
    border: none;
    text-shadow: var(--nord0);

}
.button:hover{
    background-color:rgba(0, 0, 0, 0);
    background-image:var(--nord1);
    border: none;
}
.button, input, optgroup, select, textarea {
    color:var(--nord6);

}
.button:hover, input:hover, optgroup:hover, select:hover, textarea:hover {
    color:var(--nord8);
    transition: .1s ease;
}
.notebuttons{
    background-color:var(--nord0)
}
#printButton, #printButtonIcon{
    background:var(--nord1);
    border: 1px solid var(--nord1);
}
#printButton:hover , #printButton:hover
{   transition: .1s ease;
    border: 1px solid var(--nord8)
}
#backIcon:hover{
    color:var(--nord8);
}
/*||English "Book"/
/*text*/
div.scrolling-book *{
color:var(--nord4)!important
}
/*enable selecting (may not work)*/
html{
-webkit-user-select: text !important
-khtml-user-select: text !important
-moz-user-select: text !important
-o-user-select: text !important
}
/*unknown code*/
.image-question{
    z-index: 0;
    background: url('..img/test.jpg') no-repeat;
    position: relative;
}
/*images*/
img.scale-with-grid{
    position:static;
}
/*||Print Scr*/
.lightbox_content{
background:var(--nord0)
}
/*buttons*/
.lightbox_close
{
color:var(--nord6)
}
.lightbox_close:hover
{   transition: .1s ease;
    transform: scale(1.1);
    color:var(--nord8)
}
/*||Word Processor*/

/*page*/
.page{
border:none;
box-shadow: none;
padding: 0
}
#text, .writing-header{
    background-color: var(--nord2);
    padding: 2%;
    border-radius: 8px;
    box-shadow:4px 4px 8px var(--nordx)
    }
.overlay{
    background:#3b425285
}
/*@Footer*/
.writing-footer{
    background-color: var(--nord1);
    border-top: none;
    border-radius: 8px;
    width: 95%; 
    padding: 10px 15px;
}
/*text*/
#grammar-message{
color:var(--nord11);
font: normal 17px Roboto
}
/*buttons*/
    .grammar-box button, #resetText{
        background:var(--nord8);
        color: var(--nord1);
        font-style: normal;
        font-size:1.125em;
        font-weight: 400;
        box-shadow: 0px 2px 1px var(--nordx);
        transition:0s 0.8s;
    }
    .grammar-box button:hover, #resetText{
        background:var(--nord7);
        color: var(--nord1);
        transition:0s;
    }
    .grammar-box button:active, #resetText{
        background:var(--nord7);
        color: var(--nord2);
        transition:0s;
        box-shadow: none;
    }
/*grammar box*/
    .progress-indicator > li{
        color: var(--nord6)
    }
    .progress-indicator > li .bubble{
        background-color: var(--nord7)
    }
    .progress-indicator > li .bubble::after, .progress-indicator > li .bubble::before{
        background-color: var(--nord7)
    }
    .progress-indicator > li.selected span:not(.bubble){
        background: var(--nord14)
    }
    .progress-indicator > li.selected span.bubble{
        background-color: var(--nord14)
    }
    .progress-indicator > li.selected span.bubble::after{
        background-color: var(--nord14)
    }

/*@Instructions*/
/*text*/
#instructions-content *{
color:var(--nord4)
}
#student_resources .menu *{
border-left-color: var(--nord0)
border-bottom
}
/*footer*/
.grammar-box > div > span:first-child{
color: var(--nord6)
}
.grammar-box > div > span:last-child{
color:var(--nord4)
}

/*||Expiremental*/
